<h3>Login:</h3>
<div class="card">
  <div class="card-body">
    <form id="loginForm">
      <label for="email" class="mt-2">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        class="form-control"
      />
      <label for="senha" class="mt-2">Senha:</label>
      <input
        type="password"
        id="senha"
        name="senha"
        placeholder="Senha"
        class="form-control"
      />
      <button type="submit" class="btn btn-success mt-3">Realizar login</button>
      <button class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#redefinirSenhaModal" id="esqueciSenhaButton">
        Esqueci minha senha
      </button>
    </form>
  </div>
</div>

<div class="modal fade" id="redefinirSenhaModal" tabindex="-1" aria-labelledby="redefinirSenhaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="redefinirSenhaModalLabel">Redefinir Senha</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <form id="redefinirSenhaForm">
          <label for="email" class="mt-2">Email:</label>
          <input type="email" id="redefinirEmail" name="email" placeholder="Seu email" class="form-control" />
          <button type="submit" class="btn btn-primary mt-3">Redefinir Senha</button>
        </form>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script>
  document.getElementById("loginForm").addEventListener("submit", function(event) {
    event.preventDefault();

    const email = document.getElementById("email").value;
    const senha = document.getElementById("senha").value;

    // Realizar a requisição de login com os dados fornecidos
    fetch("/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ email, senha })
    })
    .then(response => response.json())
    .then(data => {
      // Verificar a resposta do servidor
      if (data.success) {
        // Redirecionar para a página de dashboard apropriada
        window.location.href = data.redirectUrl;
      } else {
        // Exibir mensagem de erro de login
        alert("Login inválido. Verifique suas credenciais.");
      }
    })
    .catch(error => {
      console.error("Erro ao realizar login:", error);
      // Exibir mensagem de erro genérico
      alert("Ocorreu um erro ao realizar o login. Tente novamente mais tarde.");
    });
  });

  document.getElementById("esqueciSenhaButton").addEventListener("click", function(event) {
    event.preventDefault(); 
    const redefinirSenhaForm = document.getElementById("redefinirSenhaForm");
    
    function handleRedefinirSenhaFormSubmit(event) {
      event.preventDefault();
      const redefinirEmail = document.getElementById("redefinirEmail").value;
      
      const requestOptions = {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({ email: redefinirEmail })
      };
      
      fetch("/redefinir-senha", requestOptions)
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            alert("Um email com as instruções para redefinir sua senha foi enviado.");
            $('#redefinirSenhaModal').modal('hide');
            window.location.href = `/`;
          } else {
            alert("Ocorreu um erro ao processar sua solicitação de redefinição de senha. Tente novamente mais tarde.");
          }
        })
        .catch(error => {
          console.error("Erro ao processar a solicitação de redefinição de senha:", error);
          alert("Ocorreu um erro ao processar sua solicitação de redefinição de senha. Tente novamente mais tarde.");
        });
    }
    
    redefinirSenhaForm.addEventListener("submit", handleRedefinirSenhaFormSubmit);
  });

</script>
