body {
    font-family: 'Century Gothic', sans-serif;
}

.logo_grande {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    width: 20%;
    height: 20%;
}

.introducao {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 36px;

}

@media (max-width: 500px) {
    .logo_grande {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        padding-top: 5%;
        width: 50%;
        height: 50%;
    }
    .introducao {
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 32px;
    }
    
}

.fundo_tutorial {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-top: 1%;
    width: 75%;
    height: 100%;

}

@media (max-width: 500px) {
    .fundo_tutorial {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 100%;
        height: 100%;
    }
    
}

.logo_preto {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    width: 20%;
    height: 20%;
}

.texto_final {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 36px;

}

@media (max-width: 500px) {
    .logo_preto {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        padding-top: 20%;
        width: 50%;
        height: 50%;
    }
    .texto_final {
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 32px;

    }
}

footer {
    padding: 10px;
    font-size: 16px;
    background-image: linear-gradient(to right, #bb8bff, #6ffff8);
}