<h3>Redefinir senha:</h3>
<div class="card">
  <div class="card-body">
    <form id="redefinirSenhaForm">
      <label for="novaSenha" class="mt-2">Nova senha:</label>
      <input
        type="password"
        id="novaSenha"
        name="novaSenha"
        placeholder="Nova senha do aluno"
        class="form-control"
      />
    </form>
  </div>
</div>
<button id="redefinirSenhaButton" class="btn btn-success mt-3">Redefinir senha</button>

<script>
  document.getElementById("redefinirSenhaButton").addEventListener("click", function() {
    const url = window.location.href;
    const urlPath = new URL(url).pathname;
    const divisaoUrl = urlPath.split('/');
    const resetToken = divisaoUrl[divisaoUrl.length - 1];

    console.log(resetToken); // Exibe o token no console


    const novaSenha = document.getElementById("novaSenha").value;
    fetch(`/aluno/redefinir-senha/${resetToken}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({ novaSenha })
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        // Redirecionar para a tela de login
        window.location.href = "/aluno/login";
      } else {
        alert("Erro ao redefinir a senha. Tente novamente mais tarde.");
      }
    })
    .catch(error => {
      console.error("Erro ao redefinir a senha:", error);
      alert("Ocorreu um erro ao redefinir a senha. Tente novamente mais tarde.");
    });
  });
</script>
