<h3>Nova Matéria:</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/materias/novo" method="POST">
            <label for="cod_materia">Código:</label>
            <input type="text" id="cod_materia" name="cod_materia" placeholder="Código da matéria" class="form-control"> 
            <label for="nome" class="mt-2">Nome:</label>
            <input type="text" id="nome_materia" name="nome" placeholder="Nome da matéria" class="form-control">
            <button type="submit" class="btn btn-success mt-3">Cadastrar matéria</button>
        </form>
    </div>
</div>