<h2>Lista de Cursos</h2>
<hr>
<a href="/admin/cursos/cadastrar"><button type="button" class="btn btn-success">Adicionar curso</button></a>

{{#each cursos}}
    <div class="card my-3">
        <div class="card-body">
            <h5>{{nome_curso}}</h5>
            <p>Código do curso: {{cod_curso}}</p>
            <a href="/admin/cursos/editar/{{_id}}"><button class="btn btn-success">Editar Curso</button></a>
        </div>
    </div>
{{else}}
 <div class="card my-3">
        <div class="card-body">       
          <p class="card-title text-center">Nenhum Curso registrado</p>
        </div>
    </div>
{{/each}}